@tailwind base;

@tailwind components;

@tailwind utilities;

.gradient-bg {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  @apply mt-8 mb-8 p-4 text-base;
  background-color: #4c2885;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-family: inherit;
}

input::placeholder {
  color: #bbbbbb;
}

input:focus {
  outline: none;
}

.avatar {
  @apply h-auto w-auto;
  border: 10px solid #41295a;
  border-radius: 50%;
  max-width: 170px;
}

.card {
  @apply flex p-8 pl-6 max-w-5xl;
  background-color: #4c2885;
  background-image: linear-gradient(135deg, #4c2885 0%, #764ba2 80%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

/* .info {
  @apply flex m-2;
} */
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info {
  color: #ffffff;
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
}
.user-info .info {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 300px;
  max-width: 400px;
}
.font-code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}
.purple-shadow {
  @apply bg-purple-800 .bg-opacity-75;
}
.user-info ul strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.repo {
  background-color: #2a2a72;
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
